* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.sb-avatar__text{
  width: 65px !important;
  height: 65px !important;
  font-size: 25px !important;
}